# Tmpe directory
_TempGYP_Engine/
Engine/SourceCode/Core/
Engine/Lib/
Engine/Bin/
ThirdParty/ThirdPartyZipped/
Solution/VisualStudio/.vs/
Solution/VisualStudio/x64/
Lib/*.lib
Lib/*.pdb
Lib/*.def
Lib/*.ilk
*.ipch
*.opendb
*.db
*.tlog
*.idb
*.exp
*.db-shm
*.db-wal
*.zip
*.bak

**/.vs
**/out
**/.vscode
**/Debug
