# Text files and perform LF normalization
*        text eol=lf

# Specialization
*.cs     text diff=csharp

# Always checkout with CRLF (Windows)
*.bat    text eol=crlf
*.ps     text eol=crlf
*.csproj text eol=crlf
*.sln    text eol=crlf
