# Tmpe directory
_TempGYP_Engine/
Engine/SourceCode/Core/
Engine/Lib/
Engine/Bin/
ThirdParty/ThirdPartyZipped/
Solution/VisualStudio/.vs/
Solution/VisualStudio/x64/
Lib/*.lib
Lib/*.pdb
Lib/*.def
Lib/*.ilk
*.ipch
*.opendb
*.db
*.tlog
*.idb
*.exp
*.db-shm
*.db-wal
*.zip
*.bak

Solution/VisualStudio/EngineWindowsEntry/x64/
Solution/VisualStudio/CoreLib/Debug/
Solution/VisualStudio/CoreLib/x64/Debug(Static)/ArchType.obj
Solution/VisualStudio/CoreLib/x64/Debug(Static)/BaseType_Floatings.obj
Solution/VisualStudio/CoreLib/x64/Debug(Static)/CompressBox.obj
Solution/VisualStudio/CoreLib/x64/Debug(Static)/CoreLib.log
Solution/VisualStudio/CoreLib/x64/Debug(Static)/CoreLib.pdb
Solution/VisualStudio/CoreLib/x64/Debug(Static)/CoreLib_Debug.Build.CppClean.log
Solution/VisualStudio/CoreLib/x64/Debug(Static)/CoreLib_Debug.pch
Solution/VisualStudio/CoreLib/x64/Debug(Static)/EnviromentValue.obj
Solution/VisualStudio/CoreLib/x64/Debug(Static)/IComponent.obj
Solution/VisualStudio/CoreLib/x64/Debug(Static)/MemoryUtil.obj
Solution/VisualStudio/CoreLib/x64/Debug(Static)/OSType.obj
Solution/VisualStudio/CoreLib/x64/Debug(Static)/SimdType.obj
Solution/VisualStudio/CoreLib/x64/Debug(Static)/stdafx.obj
Solution/VisualStudio/CoreLib/x64/Debug(Static)/string.obj
Solution/VisualStudio/CoreLib/x64/Debug(Static)/TaskSystem.obj
Solution/VisualStudio/CoreLib/x64/Debug(Static)/Time.obj
Solution/VisualStudio/CoreLib/x64/Debug(Static)/TimeRecode.obj
Solution/VisualStudio/CoreLib/x64/Debug(Static)/tinyxml2.obj
Solution/VisualStudio/CoreLib/x64/Debug(Static)/X64_ISA.obj
Solution/VisualStudio/UnitTest/x64/Debug/AnyTestUnit.obj
Solution/VisualStudio/UnitTest/x64/Debug/CompressBoxUnitTest.obj
Solution/VisualStudio/UnitTest/x64/Debug/ContainerUnitTest.obj
Solution/VisualStudio/UnitTest/x64/Debug/MemoryUtilUnitTest.obj
Solution/VisualStudio/UnitTest/x64/Debug/PlatformTestUnit.obj
Solution/VisualStudio/UnitTest/x64/Debug/stdafx.obj
Solution/VisualStudio/UnitTest/x64/Debug/StringCodeTest.obj
Solution/VisualStudio/UnitTest/x64/Debug/UnitTest.Build.CppClean.log
Solution/VisualStudio/UnitTest/x64/Debug/UnitTest.log
Solution/VisualStudio/UnitTest/x64/Debug/UnitTest.pch
Solution/VisualStudio/UnitTest/x64/Debug/vc141.pdb
